name: Build Android APK
on: [push]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Build APK
      run: |
        rustup target add aarch64-linux-android
        cargo install cargo-apk
        cargo apk build -p phira --release
    - name: Upload APK  
      uses: actions/upload-artifact@v4
      with:
        name: phira-mod
        path: target/android-artifacts/release/apk/*.apk
